@page "/claims"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>ClaimsPrincipal Data</h3>

<button @onclick="GetClaimsPrincipalData">Get ClaimsPrincipal Data</button>

<p>@authMessage</p>

@if (claims.Count() > 0)
{
    <ul>
        @foreach (var claim in claims)
        {
            <li>@claim.Type: @claim.Value</li>
        }
    </ul>
}

<p>Is a admin: @isAdmin</p>
<p>User have role: @role</p>

<AuthorizeView Roles="admin">
    <p>You can only see this if you're an Admin or Superuser.</p>
</AuthorizeView>

@code {
    private string authMessage;
    private string role;
    private bool isAdmin = false;
    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();

    private async Task GetClaimsPrincipalData()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            isAdmin = user.IsInRole("admin");
            authMessage = $"{user.Identity.Name} is authenticated.";
            claims = user.Claims;
            role =
                $"{user.FindFirst(c => c.Type == ClaimTypes.Role)?.Value}";
        }
        else
        {
            authMessage = "The user is NOT authenticated.";
        }
    }
}